<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
  <html>
    <head>
      <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"  />
    </head>
    <body>
      <h1>Congratulation, You have a new user</h1>
      <p>FinforeNet has new great member please support him/her to get great information, here is your new user information:</p>
         Name             : <%= @user.full_name %><br />
         Email            : <%= @user.login %><br />
         Profession Focus : <%= @user.profession %><br />
         Geographic Focus : <%= @user.geographic %><br />
         Industry Focus   : <%= @user.industry %><br />

       <p>Best Regards,</p>
       <p>FinforeNet Support</p>
    </body>
   </html>
    