<h1>Listing user_company_tabs</h1>

<table>
  <tr colspan="4">
  </tr>

<% @user_company_tabs.each do |user_company_tab| %>
  <tr>
    <td><%= user_company_tab.feed_info.title %></td>
    <td><%= link_to 'Show', user_company_tab %></td>
    <td><%= link_to 'Edit', edit_user_company_tab_path(user_company_tab) %></td>
    <td><%= link_to 'Destroy', user_company_tab, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New user_company_tab', new_user_company_tab_path %>
