  <div class="section">
		<!--[if !IE]>start title wrapper<![endif]-->
  		<div class="title_wrapper">
			  <span class="title_wrapper_top"></span>
				<div class="title_wrapper_inner">
				  <span class="title_wrapper_middle"></span>
					<div class="title_wrapper_content">
					  <h2><%= @noticeboard.name  %> Members:</h2>
            <%= menu_edit_noticeboard(@noticeboard) %>
					</div>
				</div>
				<span class="title_wrapper_bottom"></span>
			</div>
			<!--[if !IE]>end title wrapper<![endif]-->

			<!--[if !IE]>start section content<![endif]-->
			<div class="section_content">
			  <span class="section_content_top"></span>
				<div class="section_content_inner">
          <%= render "form" %>
          <div class="table_tabs_menu">
            <ul class="table_tabs">
							<li><a class="selected" href="#"><span><span>List</span></span></a></li>
						</ul>
					</div>

					<!--[if !IE]>start table_wrapper<![endif]-->
					<div class="table_wrapper">
						<div class="table_wrapper_inner">
							<table width="100%" cellspacing="0" cellpadding="0">
								<tbody><tr>
									<th style="width:175px;"><span>Full Name</span></th>
									<th class="photo"><span>Active?</span></th>
                  <th class="photo"><span>Threads</span></th>
                  <th class="photo"><span>Comments</span></th>
                  <th class="photo"><span>Role</span></th>
									<th class="photo">Actions</th>
								</tr>

              <% @noticeboard_users.each do |noticeboard_user| %>
						<tr class="<%= cycle("first", "second") %> noticeboard_user_<%= noticeboard_user.id %>">
						<td style="padding-left:6px"><%= noticeboard_user.full_name %></td>
                  <td style="padding-left:6px"><%= is_active(@noticeboard,noticeboard_user) %></td>
                  <td style="padding-left:6px"><%= noticeboard_user.total_posting %></td>
                  <td style="padding-left:6px"><%= noticeboard_user.total_comment %></td>
                  <td style="padding-left:6px">
		    			  <div class="actions_menu">
                      <ul><li>
		  						<%= link_to noticeboard_user.roles,edit_role_noticeboard_noticeboard_user_path({:noticeboard_id=>@noticeboard.id,:id=>noticeboard_user.id}),:class=>"edit_inline" %>
                      </li></ul>
                    </div>
		  				</td>
						<td>
						  <div class="actions_menu">
							<ul>
							  <li>
                          <%= link_to "Delete",noticeboard_noticeboard_user_path({:noticeboard_id=>@noticeboard.id,:id=>noticeboard_user.id}),:class=>"delete",:title=> protect_string(noticeboard_user.full_name) %>
                       </li>
							</ul>
										</div>
									</td>
								</tr>
              <% end %>
							</tbody></table>
						</div>
					</div>
					<!--[if !IE]>end table_wrapper<![endif]-->
				</div>
        <div class="pagination_wrapper">
					<span class="pagination_top"></span>
						<div class="pagination_middle">
              <%= will_paginate @noticeboard_users %>
							<div class="pagination">
							  <span class="page_no"><%= page_entries_info @noticeboard_users %></span>
						  </div>
					</div>
					<span class="pagination_bottom"></span>
				</div>
				<span class="section_content_bottom"></span>
			</div>
			<!--[if !IE]>end section content<![endif]-->
		</div>
<%= user_form_ajax %>
